/* Your styles here */
body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #25a2c3;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

header {
  text-align: center;
}

header #logo {
  background-color: black;
}

header img {
  width: 140px;
  padding-block: 1.5rem;
}

header #heading {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 3.5rem;
  padding-inline: 2rem;
  padding-bottom: 2.5rem;
}

header h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 2.5rem;
}

#heading p {
  padding: 1rem;
}

header button {
  color: white;
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  padding-inline: 2rem;
  padding-block: 0.8rem;
}

section {
  padding: 2rem;
}

section h3 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding-top: 1rem;
}

section p {
  padding-bottom: 1rem;
}

#rounded {
  width: 100%;
  border-radius: 50%;
}

#testimonianze {
  background-color: #e22d0e;
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#testimonianze h2 {
  color: white;
  font-size: 2rem;
}

#testimonianze p {
  font-size: 1rem;
}

#testimonianze #quote {
  font-style: italic;
  padding-block: 2rem;
}

#testimonianze #CEO-name {
  font-size: 1.3rem;
}

#testimonianze #CEO {
  font-size: small;
}

.schede {
  border: 1px solid #dee1e3;
  margin-top: 2rem;
  padding-bottom: 2.5rem;
}

.schede img {
  width: 100%;
}

.schede p {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-inline: 0.8rem;
}

.schede h4 {
  padding-top: 0.9rem;
}

footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  padding-inline: 2rem;
  font-size: 1rem;
}

footer h2 {
  color: white;
  font-size: 1.8rem;
  padding-top: 2rem;
}

footer address {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

footer a {
  color: #c8e7f0;
}

hr {
  width: 50%;
}

#copyright {
  font-size: 0.9rem;
  padding: 1.5rem;
  padding-bottom: 3.5rem;
}
